# Exclude other systems during build
../commodore-*/
../nintendo-*/
../sinclair-*/
../atari-*/


# Documentation and configs
../*.md
../*.json
../scripts/
../.github/
../LICENSE*
../README*

# Keep only this system's files
!*/
!./
